.Contact {
  width: 63.75rem;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  font-family: sans-serif;
}

.Contact_title {
  color: white;
  font-size: 3rem;
  margin: 2rem;
}

.Contact_card {
  width: 100%;
  border-radius: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Left*/

.Contact_left {
  position: relative;
  overflow: hidden;
}

.Contact_left img {
  width: 32rem;
  height: 32rem;
  border-top-left-radius: 1.5rem;
  border-bottom-left-radius: 1.5rem;
  object-fit: cover;
}

.Contact_text {
  position: absolute;
  inset: 0;
  z-index: 2;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2.8rem;
  font-size: 1.9rem;
}

/* Right */

.Contact_right {
  height: 32rem;
  width: 50%;
  margin-bottom: 0.4rem;
  background-color: white;
  color: black;
  border-top-right-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Contact_right_content {
  width: 22rem;
  height: 23rem;
  border-radius: 1.5rem;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.35);
  display: flex;
  flex-direction: column;
}

.Contact_info-title {
  font-size: 1.5rem;
  margin: 2rem;
}

.Contact_item {
  display: flex;
  margin-left: 2rem;
  width: 100%;
  height: 4.5rem;
}

.Contact_icon {
  width: 3rem;
  height: 3rem;
  margin-right: 0.8rem;
  background-color: #55e5a4;
  border-radius: 50%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Line */

.Contact_line {
  width: 100%;
  height: 0.1rem;
  background-color: #55e5a4;
}
