.Contact_container {
  width: 63.75rem;
  /* height: 100vh; */
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.Contact_name {
  color: white;
  font-size: 3rem;
  display: flex;
}
