.Footer {
  height: 30rem;
  background-color: var(--bg-secondary);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.Footer_title {
  font-size: 4rem;
  font-weight: 300;
  color: var(--accent-text);
}

.Footer_items {
  list-style: none;
  color: var(--text-secondary);
  font-size: 1.5rem;
  display: flex;
  gap: 3rem;
}

.Footer_icons {
  display: flex;
  list-style: none;
}

.Footer_icon svg {
  color: var(--accent-text);
  transition: 0.3s;
  cursor: pointer;
}

.Footer_icon:hover svg {
  transform: scale(1.05);
  color: var(--accent-text);
}

.Footer_line {
  width: 100%;
  border: 1px solid var(--text-secondary);
}

.Footer_text {
  color: var(--text-secondary);
}
