.Home_container {
  height: 100%;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  color: #55e5a4;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/*  Navbar  */
.Home_navbar {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 5rem;
}

.Home_navbar_name {
  font-size: 4rem;
  font-weight: 300;
}

.Home_navbar_btn {
  display: flex;
  gap: 1.5rem;
}

.Home_navbar_btn button {
  background: none;
  color: #ffff;
  width: 7.5rem;
  height: 3rem;
  font-size: 1.375rem;
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid white;
  border-radius: 0.4rem;
}

.Home_navbar_btn :hover {
  background-color: #55e5a4;
  color: #151c25;
  cursor: pointer;
}

.Home_navbar_img {
  background: none;
  border: none;
  width: 2rem;
  height: 2rem;
}

.Home_navbar_img :hover {
  background-color: #55e5a4;
  border-radius: 50%;
  cursor: pointer;
}

/* Content */

.Home_content {
  width: 63.75rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Home_content_text {
  width: 35%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.content_name {
  color: white;
  font-size: 1.375rem;
}

.content_title {
  font-size: 2.625rem;
}

.content_paragraf {
  font-size: 1.375rem;
  color: #a9a9a9;
  font-family: sans-serif;
}

.content_btn {
  margin-top: 1.5rem;
  display: flex;
  gap: 4rem;
}

.content_btn button {
  width: 9.375rem;
  height: 3.125rem;
  border-radius: 0.5rem;
  background-color: #55e5a4;
  border: none;
  color: #151c25;
  font-size: 1.3rem;
  font-family: Arial, Helvetica, sans-serif;
}

.content_circle {
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: auto;
  width: 1rem;
  height: 1rem;
  background-color: #55e5a4;
  border: #55e5a4;
  border-radius: 50%;
}

.Home_content_img {
  background-color: #55e5a4;
  border-radius: 35% 35% 45% 45% / 25% 25% 40% 40%;
  width: 28.25rem;
  height: 20rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Home_content_img img {
  width: 20rem;
  height: 24.375rem;
  margin-bottom: 4.3rem;
  border-radius: 20%;
}

/* Line */

.Home_line {
  width: 100%;
  height: 0.1rem;
  background-color: #55e5a4;
}
