.Home_container {
  width: 100%;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/*  Navbar  */
.Home_navbar {
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.Home_navbar_title {
  font-size: 4rem;
  font-weight: 300;
}

.Home_navbar_btn {
  display: flex;
  gap: 1.5rem;
}

.Home_navbar_btn button {
  background: none;
  color: #ffff;
  width: 7.5rem;
  height: 3rem;
  font-size: 1.375rem;
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid white;
  border-radius: 0.4rem;
}

.Home_navbar_btn :hover {
  background-color: #55e5a4;
  color: #151c25;
  cursor: pointer;
  border-radius: 0.4rem;
}

/* Card */

.Home_card {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.Home_left {
  width: 28rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.Home_left h1 {
  color: white;
  font-size: 1.375rem;
}

.Home_left h2 {
  font-size: 2.625rem;
}

.Home_left p {
  font-size: 1.375rem;
  color: #a9a9a9;
  font-family: sans-serif;
}

.Home_left_btn {
  margin-top: 1.5rem;
  display: flex;
  gap: 4rem;
}

.Home_left_btn button {
  width: 9.375rem;
  height: 3.125rem;
  border-radius: 0.5rem;
  background-color: #55e5a4;
  border: none;
  color: #151c25;
  font-size: 1.3rem;
  font-family: Arial, Helvetica, sans-serif;
}

.Home_right {
  background-color: #55e5a4;
  border-radius: 2rem;
  width: 26rem;
  height: 30rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Home_right img {
  width: 26rem;
  height: 34rem;
  margin-bottom: 4.3rem;
  border-radius: 2rem;
}

/* Line */

.Home_line {
  width: 100%;
  height: 0.1rem;
  background-color: #55e5a4;
}

@media (max-width: 768px) {
  .Home_navbar {
    flex-direction: column;
    padding: 2rem;
    gap: 1rem;
  }
  .Home_card {
    flex-direction: column;
    padding: 2rem;
    gap: 2rem;
  }
}
