.About_container {
  width: 63.75rem;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.About_navbar {
  width: 28rem;
}

.About_navbar_img {
  width: 10rem;
  height: 22rem;
  background-color: #55e5a4;
}

.About_navbar_img img {
  margin-top: 1rem;
  margin-left: 1rem;
  width: 19rem;
  height: 22rem;
}

.About_section {
  width: 28rem;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
