.Footer {
  height: 30rem;
  background-color: #26313f;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.Footer_title {
  font-size: 4rem;
  font-weight: 300;
}

.Footer_items {
  list-style: none;
  color: #a9a9a9;
  font-size: 1.5rem;
  display: flex;
  gap: 3rem;
}

.Footer_icons {
  display: flex;
  gap: 1rem;
  list-style: none;
}

.Footer_icon svg {
  color: #7cf0b2;
  transition: 0.3s;
  cursor: pointer;
}

.Footer_icon:hover svg {
  transform: scale(1.05);
  color: #7cf0b2;
}

.Footer_line {
  width: 100%;

  border: 1px solid #a9a9a9;
}

.Footer_text {
  color: #a9a9a9;
}
